// TIPOGRAFIA
.h1 {
    font-size: clamp(2.5rem, 5vw, 10rem);
    font-weight: 900;
}

// SECCION
.section {
    display: flex;
    flex-direction: column;
    gap: clamp(1.25rem, 2.5vw, 5rem);
    padding: clamp(1.25rem, 2.5vw, 5rem) 0;
}

// OCULTO
.d-none {
    display: none;
}

// ANIMACIONES
[data-fade] {
    animation: fade 2500ms forwards;
}

@keyframes fade {
    0% {
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// DELAY DE ANIMACIONES
[data-delay="300"] {
    animation-delay: 300ms;
}

[data-delay="500"] {
    animation-delay: 500ms;
}

[data-delay="700"] {
    animation-delay: 700ms;
}

[data-delay="900"] {
    animation-delay: 900ms;
}

[data-delay="1100"] {
    animation-delay: 1100ms;
}

[data-delay="1300"] {
    animation-delay: 1300ms;
}

[data-delay="1500"] {
    animation-delay: 1500ms;
}
