// MIXINS
@import '../../global/mixins';

// STYLES
.panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100px, 100%, 350px), 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: 1fr;
    gap: clamp(0.5rem, 1vw, 2rem);
    padding: var(--padding-main);

    &-option {
        @include flex(column, center, center);
        gap: clamp(1rem, 1.5vw, 3rem);
        padding: clamp(1rem, 2.5vw, 5rem);
        border-radius: 1rem;
        background-color: var(--background-two);
    }
    &-signout {
        color: var(--text-two);
        background-color: var(--btn-danger);

        button {
            color: var(--text-two);
        }
    }
    &-btn {
        color: var(--icon);
        width: clamp(2rem, 5vw, 10rem);
    }
    &-title {
        font-size: clamp(1rem, 2vw, 2rem);
        font-weight: 900;
    }
}

// MEDIAQUERYS
@include mediamax(480px) {
    .panel-option {
        flex-direction: row;
        justify-content: flex-start;
    }
}
