// MIXINS
@import "../../.././global/mixins";

// STYLES
.card-detail {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: clamp(1rem, 1vw, 2rem);

    &-close {
        position: absolute;
        top: 5%;
        left: 10%;
        width: clamp(3rem, 5vw, 10rem);
    }
    &-picture {
        flex: 1;
    }
    &-info {
        flex: 1;
        @include flex(column, center, center);
        gap: clamp(1rem, 1vw, 2rem);
    }
    &-collection {
        opacity: 0;
        font-size: clamp(0.85rem, 1.5vw, 3rem);
        font-weight: 800;
        color: grey;
    }
    &-name {
        opacity: 0;
        font-size: clamp(2.5rem, 5vw, 10rem);
        font-weight: 900;
        padding: 0 clamp(0.5rem, 1vw, 2rem);
    }
    &-color {
        @extend .card-detail-collection;
    }
    &-price {
        @extend .card-detail-name;
    }
    &-stock {
        @extend .card-detail-collection;
    }
    &-designer {
        @extend .card-detail-collection;
    }
    &-location {
        @extend .card-detail-collection;
    }
    &-launch {
        @extend .card-detail-collection;
    }
    &-footer {
        @include flex(column, center, center);
        gap: clamp(0.75rem, 1.5vw, 3rem);
        margin: clamp(1rem, 3vw, 6rem) 0 0 0;
    }
}

// MEDIAQUERYS
@include mediamax(900px) {
    .card-detail {
        flex-direction: column;
    }
}
