.toastify-notification {
    text-transform: uppercase;
    font-size: clamp(0.75rem, 1.25vw, 2.5rem);
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    background: var(--component-one) !important;
    border-radius: 3rem !important;
    margin: clamp(1rem, 1vw, 2rem);
}
