// STYLES
.btn-filter {
    font-size: clamp(0.85rem, 1.5vw, 2.6rem);
    font-weight: 900;
    color: black;
    background-color: lightgrey;
    border-radius: 1em;
    padding: 0.5em 2em;
}
.btn-filter-active {
    color: white;
    background-color: black;
}
