// STYLES
.btn-filter {
    font-size: clamp(0.85rem, 1.5vw, 2.6rem);
    font-weight: 900;
    color: var(--btn);
    background-color: var(--background-two);
    border-radius: 1em;
    padding: 0.5em 2em;
}
.btn-filter-active {
    color: var(--text-two);
    background-color: var(--btn);
}
