// MIXINS
@import '../../global/mixins';

// STYLES
.category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(100px, 100%, 375px), 1fr));
    gap: clamp(1rem, 1vw, 2rem);

    &-a {
        @include flex(column, center, center);
        position: relative;
        border-radius: 1rem;
        background-color: var(--background-two);
    }
    &-span {
        position: absolute;
        top: 10%;
        left: 5%;
        font-size: clamp(3.5rem, 5vw, 10rem);
        font-weight: 800;
    }
}
