// MIXINS
@import '../.././global/mixins';

// STYLES
.header {
    @include flex(row, space-between, center);
    position: sticky;
    top: 0;
    background-color: var(--background-one);
    padding: clamp(1rem, 2.5vw, 5rem) clamp(1rem, 5.75vw, 12rem);
    z-index: 1;

    &-title {
        font-size: clamp(1.25rem, 2.25vw, 5rem);
        font-weight: 900;
    }
    &-icons {
        @include flex(row, center, center);
        gap: clamp(1rem, 1.5vw, 3rem);
    }
    &-icon {
        color: var(--icon);
        width: clamp(4rem, 5vw, 10rem);
        border-radius: 100%;
        background-color: var(--icon-background);
        padding: clamp(1rem, 1vw, 2rem);
    }
    &-icon-active {
        color: var(--icon-active);
        background-color: var(--icon-background-active);
    }
    &-cart {
        position: relative;
    }
    .nav {
        &-ul {
            @include flex(row, center, center);
            gap: clamp(1rem, 5vw, 10rem);
        }
        &-a {
            font-size: clamp(1rem, 2.25vw, 5rem);
            font-weight: 900;

            &-active {
                color: white;
                background-color: black;
                padding: 0.5em 1em;
            }
        }
    }
}

// MEDIAQUERYS
@include mediamax(480px) {
    .header-title {
        display: none;
    }
    .header-icons {
        width: 100%;
    }
    .d-none {
        display: block;
    }
    .nav {
        display: none;
    }
}
