// MIXINS
@import '../../.././global/mixins';

// STYLES
.main-cart {
    @include flex(column, center, center);
    padding: var(--padding-main);
}
.cart {
    @include flex(column, center, center);
    gap: clamp(1.25rem, 2.5vw, 5rem);
    padding: clamp(1rem, 2.5vw, 5rem);

    &-content {
        display: flex;
        flex-direction: column;
        width: 75%;
        gap: clamp(1.25rem, 1.25vw, 2.5rem);
    }
    &-item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: clamp(0.5rem, 0.5vw, 1rem);
    }
    &-picture {
        flex: 1;
    }
    &-art {
        @include flex(column, center, center);
        gap: clamp(0.25rem, 0.5vw, 1rem);
        flex: 1;
    }
    &-name {
        font-size: clamp(1.15rem, 1.5vw, 3rem);
        font-weight: 900;
    }

    &-color {
        color: var(--text-three);
        font-size: clamp(1rem, 1.25vw, 2.5rem);
        font-weight: 800;
    }
    &-price {
        @extend .cart-name;
    }
    &-count {
        @include flex(row, center, center);
        gap: clamp(0.75rem, 1.5vw, 3rem);
        width: 100%;
        flex: 1;

        &-btn {
            width: clamp(2.5rem, 3vw, 6rem);
            color: var(--icon);
            background-color: var(--icon-background);
            border-radius: 100%;
            padding: 0.5em;
        }
        &-quantity {
            font-size: clamp(1.25rem, 1.5vw, 3rem);
            font-weight: 900;
        }
    }
    &-options {
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, 1.5vw, 3rem);
    }
    &-empty {
        align-self: flex-end;
        color: var(--text-one);
        background-color: var(--icon-background);
    }
    &-discount {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: clamp(0.5rem, 1vw, 2rem);
    }
    &-cupon {
        flex: 1;
        font-size: clamp(1rem, 1.5vw, 2rem);
        font-weight: 400;
        padding: clamp(0.75em, 1vw, 1.5rem) clamp(1.5em, 2vw, 3rem);
        border: var(--text-one) 2.5px solid;
        border-radius: 3rem;

        &::placeholder {
            text-transform: capitalize;
            text-align: center;
        }
        &:focus {
            outline: none;
        }
    }
    &-apply {
        flex: 1;
    }
    &-details {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    &-total {
        @extend .cart-name;
    }
    &-description {
        @extend .cart-color;
        color: var(--text-three);
    }
}

// MEDIAQUERYS
@include mediamax(768px) {
    .cart-content {
        width: 100%;
    }
}
@include mediamax(624px) {
    .cart-count {
        flex: none;
    }
    .cart-discount {
        flex-direction: column;
    }
}
