// MIXINS
@import '../../global/mixins';

// STYLES
.header {
    @include flex(row, space-around, center);
    position: sticky;
    top: 0;
    background-color: var(--background-one);
    padding: clamp(0.5rem, 2vw, 4rem);
    z-index: 1;

    &-active {
        color: #c7c7c7;
    }

    &-icons {
        @include flex(row, center, center);
        gap: clamp(0rem, 1.5vw, 3rem);
    }
    &-icon {
        color: var(--icon);
        width: clamp(4rem, 5vw, 10rem);
        border-radius: 100%;
        background-color: var(--icon-background);
        padding: clamp(1rem, 1vw, 2rem);
    }
    &-icon-active {
        color: var(--icon-active);
        background-color: var(--icon-background-active);
    }
    &-title {
        font-size: clamp(1.25rem, 2.25vw, 5rem);
        font-weight: 900;
    }
    &-cart {
        position: relative;
    }
}

// STYLES
.nav {
    &-ul {
        @include flex(row, center, center);
        gap: clamp(1rem, 5vw, 10rem);
    }
    &-a {
        font-size: clamp(1rem, 2.25vw, 5rem);
        font-weight: 900;
    }
}

// MEDIAQUERYS
@include mediamax(480px) {
    .header-title {
        display: none;
    }
    .d-none {
        display: block;
    }
    .nav {
        display: none;
    }
}
