// MIXINS
@import "../.././global/mixins";

// STYLES
.checkout {
    @include flex(column, center, center);
    min-height: 100vh;
    gap: clamp(1.25rem, 2.5vw, 5rem);
    padding: clamp(1rem, 2.5vw, 5rem);

    &-order {
        font-size: clamp(1.25rem, 2vw, 4rem);
        font-weight: 400;
        text-transform: none;
    }
    &-icon {
        width: clamp(12.5rem, 15vw, 50rem);
    }
}
