// STYLES
.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    padding: clamp(2rem, 5vw, 10rem) clamp(0rem, 5vw, 10rem);
    gap: clamp(2.5rem, 3vw, 6rem);
}
