// MIXINS
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin media($px) {
    @media screen and (max-width: $px) {
        @content;
    }
}

// STYLES
.header {
    @include flex(row, space-around, center);
    padding: clamp(0.5rem, 2vw, 4rem);
    position: sticky;
    top: 0;

    &-icons {
        @include flex(row, center, center);
        gap: clamp(0rem, 1.5vw, 3rem);
    }
    &-icon {
        width: clamp(4rem, 5vw, 10rem);
        background-color: lightgrey;
        padding: 1em;
        border-radius: 100%;
    }
    &-title {
        font-size: clamp(1.25rem, 2.25vw, 5rem);
        font-weight: 800;
    }
    &-cart {
        position: relative;
    }
}

// STYLES
.nav {
    &-ul {
        @include flex(row, center, center);
        gap: clamp(1rem, 5vw, 10rem);
    }
    &-a {
        font-size: clamp(1rem, 2.25vw, 5rem);
        font-weight: 800;
    }
}

// MEDIAQUERYS
@include media(480px) {
    .header-title {
        display: none;
    }
    .d-none {
        display: block;
    }
    .nav {
        display: none;
    }
}
