// MIXINS
@import '../../.././global/mixins';

// STYLES
.main-shop {
    padding: var(--padding-main);
}
.shop {
    @include flex(column, center, center);
    gap: clamp(1.5rem, 3vw, 6rem);

    &-btn-group {
        @include flex(row, center, center);
        flex-wrap: wrap;
        gap: clamp(1rem, 2.5vw, 5rem);
    }
}
