// STYLES
.badge {
    position: absolute;
    top: 0;
    right: 5%;
    font-size: clamp(1rem, 1.3vw, 2.6rem);
    font-weight: 900;
    color: var(--text-one);
    background-color: var(--text-two);
    border-radius: 1rem;
    padding: 0.25em;
}
